openapi: 3.0.0
info:
  title: Marvel Strike Force Api
  version: beta 0.2.1
  description: |-
    API for Marvel Strike Force

    This API is currently in *beta* release and may be changed or discontinued in whole or in part at any time with or without notice.

    Access to the API requires three headers to be specified:
    - The `x-api-key` header should be set to `17wMKJLRxy3pYDCKG5ciP7VSU45OVumB2biCzzgw`.
    - The `User-Agent` header should be set automatically by the browser or HTTP library. If you need to set it manually, you can set it to `APIClient/1.0 (Server)`.
    - The `authorization` header should be set to `Bearer <token>` where `<token>` is an OAuth2 token with sufficient scope for the route you are calling. The scope required for each Player route category is shown in parentheticals in the category headers below. Other routes may be called with any valid token, including player-agnostic ones from the client-credentials flow.

    For examples of using OAuth2 Tokens, see the `#api-faq` channel on the offical Marvel Strike Force Discord: https://discord.gg/marvelstrikeforce.

    To obtain OAuth2 client credentials for your application, visit the MSF Developer Portal: https://hub.marvelstrikeforce.com/developer.

    NOTE 1: Additional detailed documentation is available for many responses. Click any `{...}` in the models below to reveal the expanded documentation.

    NOTE 2: You can "TRY" `POST` routes below by clicking on "EXAMPLE" on the left side and editing the example.
  contact:
    email: msf-api@scopely.com
servers:
  - url: 'https://api.marvelstrikeforce.com'
    description: v1
paths:
  /game/v1/languages:
    get:
      summary: Languages
      tags:
        - Localization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LanguageCode'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-languages
      description: Gets the supported language codes.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  /game/v1/events:
    get:
      summary: Events
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-events
      description: 'Gets information about scheduled, running, and past events.'
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/eventType'
        - $ref: '#/components/parameters/eventEventInfo'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/events/{eventId}':
    parameters:
      - schema:
          type: string
        name: eventId
        in: path
        required: true
        description: The id of the event for which information is requested.
    get:
      summary: Event
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EventInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-events-eventId
      description: Gets information about an event.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/eventEventInfo'
        - schema:
            type: string
            enum:
              - none
              - full
            default: full
          in: query
          name: objRewards
          description: Specifies how much of the reward information to include about each objective.
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
  /player/v1/events:
    get:
      summary: Player Events
      tags:
        - Player (m3p.f.pr.act)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-player-v1-events
      description: 'Gets information about scheduled, running, and past events that a player qualifies for, including the player''s progress on those events.'
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/eventType'
        - $ref: '#/components/parameters/eventEventInfo'
        - schema:
            type: string
            enum:
              - none
              - part
              - full
            default: part
          in: query
          name: objRewards
          description: Specifies how much of the reward information to include about each objective. `part` includes the information relevant to the player's current progress.
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/player/v1/events/{eventId}':
    parameters:
      - schema:
          type: string
        name: eventId
        in: path
        required: true
        description: The id of the event for which information is requested.
    get:
      summary: Player Event
      tags:
        - Player (m3p.f.pr.act)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EventInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-player-v1-events-eventId
      description: Gets information about an event including a player's progress on that event.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/eventEventInfo'
        - schema:
            type: string
            enum:
              - none
              - part
              - full
            default: full
          in: query
          name: objRewards
          description: Specifies how much of the reward information to include about each objective. `part` includes the information relevant to the player's current progress.
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
  '/game/v1/orbRewards/{itemId}':
    parameters:
      - schema:
          type: string
        name: itemId
        in: path
        required: true
        description: The item id of the orb for which possible rewards are requested.
    get:
      summary: OrbRewards
      tags:
        - Items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ItemQuantity'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-orbRewards-itemId
      description: |-
        Gets the possible rewards for the requested orb.

        Returns `NOT_FOUND` if `itemId` is not the id of an orb item (`isOrb` true).
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/pieceDirectCost_none'
        - $ref: '#/components/parameters/pieceFlatCost_none'
        - $ref: '#/components/parameters/subPieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
  /player/v1/auth/consents:
    delete:
      summary: Revoke Consents
      operationId: delete-player-v1-auth-consents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    description: A string describing the status of the request.
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      description: Revokes all tokens associated with all consents the player has granted to the requesting client application.
      tags:
        - 'Player (m3p.{any})'
    x-noop: Dev
  /player/v1/card:
    get:
      summary: Card
      operationId: get-player-v1-card
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PlayerCard'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      description: Gets a player's card.
      tags:
        - Player (m3p.f.pr.pro)
  /player/v1/roster:
    get:
      summary: Roster
      operationId: get-player-v1-roster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '344':
          $ref: '#/components/responses/344_UNCHANGED'
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '422':
          $ref: '#/components/responses/422_PROHIBITED_VALUE'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      description: Gets a player's roster.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/charInfo_roster'
        - $ref: '#/components/parameters/charWar'
        - $ref: '#/components/parameters/since'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      tags:
        - Player (m3p.f.pr.ros)
  /player/v1/inventory:
    get:
      summary: Inventory
      operationId: get-player-v1-inventory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ItemQuantity'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '344':
          $ref: '#/components/responses/344_UNCHANGED'
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      description: Gets a player's inventory.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/itemFormat_id'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/since'
        - schema:
            type: string
            enum:
              - GEAR
              - ISOITEM
              - SHARD
              - RS
              - COSTUME
              - CONSUMABLE
              - ABILITY_MATERIAL
          in: query
          name: itemType
          description: 'If specified, filters items by type.  If unspecified, returns back all inventory items. '
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      tags:
        - Player (m3p.f.pr.inv)
  /player/v1/itemWishlist:
    get:
      summary: Item Wishlist
      operationId: get-player-v1-item-wishlist
      description: Gets a player's item wishlist.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat_id'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/since'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Item'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '344':
          $ref: '#/components/responses/344_UNCHANGED'
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      tags:
        - Player (m3p.f.pr.inv)
  /player/v1/squads:
    get:
      summary: Squads
      tags:
        - Player (m3p.f.pr.ros)
      operationId: get-player-v1-squads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SquadsInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '344':
          $ref: '#/components/responses/344_UNCHANGED'
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      description: Gets a player's squads.
      parameters:
        - $ref: '#/components/parameters/since'
    x-noop: Dev
  /player/v1/alliance/card:
    get:
      summary: Alliance Card
      operationId: get-player-v1-alliance-card
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AllianceCard'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      parameters:
        - $ref: '#/components/parameters/lang'
      description: Gets a player's alliance's card.
      tags:
        - Player (m3p.f.ar.pro)
  /player/v1/alliance/members:
    get:
      summary: Alliance Members
      operationId: get-player-v1-alliance-members
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllianceMemberInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      description: Gets a player's alliance's members.
      tags:
        - Player (m3p.f.ar.pro) 
  /player/v1/recruiting/recruits:
    get:
      summary: Recruiting List
      description: Gets a list of recruit info (Max 100 results).
      tags:
        - 'Player (m3p.{any})'
      operationId: get-player-v1-recruiting-recruit-list
      parameters:
        - $ref: '#/components/parameters/minTcp'
        - $ref: '#/components/parameters/maxTcp'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecruitInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
  '/player/v1/recruiting/recruits/{recruitId}':
    get:
      summary: Recruits Info
      parameters:
        - $ref: '#/components/parameters/recruitId'
      description: Gets a recruit's info.
      tags:
        - 'Player (m3p.{any})'
      operationId: get-player-v1-recruiting-recruit-info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RecruitInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '474':
          $ref: '#/components/responses/474_BANNED'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
  /game/v1/scopes:
    get:
      summary: Scopes
      tags:
        - Scopes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Scope'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-scopes
      description: Gets all Scope objects.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/scopeFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  /game/v1/localizations:
    get:
      summary: Localizations
      tags:
        - Localization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-localizations
      description: Gets the supported localization categories.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/localizations/{tableId}':
    parameters:
      - schema:
          type: string
        name: tableId
        in: path
        required: true
        description: 'The id of the localization table requested, as retrieved from /localizations.'
    get:
      summary: Localization
      tags:
        - Localization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: 'Instead of xx1 and xx2, the keys correspond to the supported languages returned by the languages route.'
                    properties:
                      xx1:
                        $ref: '#/components/schemas/URL'
                      xx2:
                        $ref: '#/components/schemas/URL'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-localizations-tableId
      description: 'Gets links to localization csv files (id, translation) for each language for the requested localization table.'
      parameters: []
  /game/v1/traits:
    get:
      summary: Traits
      tags:
        - Characters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trait'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-traits
      description: Gets all Trait objects.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  /game/v1/decorations:
    get:
      summary: Decorations
      tags:
        - Globals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rewardBackground:
                        $ref: '#/components/schemas/URL'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-decorations
      description: Gets URLs of images that can be used for decorations on other images.
  /game/v1/upgradeData:
    get:
      summary: Upgrade Data
      tags:
        - Globals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      playerLevelTotalXp:
                        $ref: '#/components/schemas/TotalXpByLevel'
                      allianceLevelTotalXp:
                        $ref: '#/components/schemas/TotalXpByLevel'
                      characterLevelTotalXp:
                        $ref: '#/components/schemas/TotalXpByLevel'
                      characterXpCosts:
                        $ref: '#/components/schemas/XpCosts'
                      yellowStarTotalShards:
                        $ref: '#/components/schemas/IndexedShards'
                      yellowStarTotalCosts:
                        $ref: '#/components/schemas/IndexedCosts'
                      abilityLevelRequirements:
                        type: object
                        properties:
                          basic:
                            $ref: '#/components/schemas/IndexedLevelRequirements'
                          special:
                            $ref: '#/components/schemas/IndexedLevelRequirements'
                          ultimate:
                            $ref: '#/components/schemas/IndexedLevelRequirements'
                          passive:
                            $ref: '#/components/schemas/IndexedLevelRequirements'
                      abilityUpgradeCosts:
                        type: object
                        properties:
                          basic:
                            $ref: '#/components/schemas/IndexedCosts'
                          special:
                            $ref: '#/components/schemas/IndexedCosts'
                          ultimate:
                            $ref: '#/components/schemas/IndexedCosts'
                          passive:
                            $ref: '#/components/schemas/IndexedCosts'
                      iso8MatrixLevelRequirements:
                        $ref: '#/components/schemas/IndexedLevelRequirements'
                      iso8MatrixUpgradeCosts:
                        $ref: '#/components/schemas/IndexedCosts'
                      iso8AbilityUpgradeCosts:
                        type: object
                        properties:
                          striker:
                            $ref: '#/components/schemas/IndexedCosts'
                          fortifier:
                            $ref: '#/components/schemas/IndexedCosts'
                          healer:
                            $ref: '#/components/schemas/IndexedCosts'
                          skirmisher:
                            $ref: '#/components/schemas/IndexedCosts'
                          raider:
                            $ref: '#/components/schemas/IndexedCosts'
                      iso8FuseCosts:
                        type: object
                        properties:
                          blaster:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                          brawler:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                          controller:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                          protector:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                          support:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-upgradeData
      description: Gets information about costs and requirements for various upgrades.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/pieceDirectCost_part'
        - $ref: '#/components/parameters/pieceFlatCost_none'
        - $ref: '#/components/parameters/subPieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
  '/game/v1/upgradeData/{fieldId}':
    parameters:
      - schema:
          type: string
          enum:
            - playerLevelTotalXp
            - allianceLevelTotalXp
            - characterLevelTotalXp
            - characterXpCosts
            - yellowStarTotalShards
            - yellowStarTotalCosts
            - abilityLevelRequirements
            - abilityUpgradeCosts
            - iso8MatrixLevelRequirements
            - iso8MatrixUpgradeCosts
            - iso8AbilityUpgradeCosts
            - iso8FuseCosts
        name: fieldId
        in: path
        required: true
        description: The id of the specific field to return.
    get:
      summary: Upgrade Data Field
      tags:
        - Globals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    anyOf:
                      - $ref: '#/components/schemas/TotalXpByLevel'
                      - $ref: '#/components/schemas/XpCosts'
                      - $ref: '#/components/schemas/IndexedShards'
                      - $ref: '#/components/schemas/IndexedCosts'
                      - type: object
                        properties:
                          basic:
                            $ref: '#/components/schemas/IndexedLevelRequirements'
                          special:
                            $ref: '#/components/schemas/IndexedLevelRequirements'
                          ultimate:
                            $ref: '#/components/schemas/IndexedLevelRequirements'
                          passive:
                            $ref: '#/components/schemas/IndexedLevelRequirements'
                      - type: object
                        properties:
                          basic:
                            $ref: '#/components/schemas/IndexedCosts'
                          special:
                            $ref: '#/components/schemas/IndexedCosts'
                          ultimate:
                            $ref: '#/components/schemas/IndexedCosts'
                          passive:
                            $ref: '#/components/schemas/IndexedCosts'
                      - $ref: '#/components/schemas/IndexedLevelRequirements'
                      - type: object
                        properties:
                          striker:
                            $ref: '#/components/schemas/IndexedCosts'
                          fortifier:
                            $ref: '#/components/schemas/IndexedCosts'
                          healer:
                            $ref: '#/components/schemas/IndexedCosts'
                          skirmisher:
                            $ref: '#/components/schemas/IndexedCosts'
                          raider:
                            $ref: '#/components/schemas/IndexedCosts'
                      - type: object
                        properties:
                          blaster:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                          brawler:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                          controller:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                          protector:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                          support:
                            $ref: '#/components/schemas/Iso8ClassFuseCosts'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-upgradeData-fieldId
      description: Gets information about costs and requirements for a specific kind of upgrade.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/pieceDirectCost_part'
        - $ref: '#/components/parameters/pieceFlatCost_none'
        - $ref: '#/components/parameters/subPieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
  '/game/v1/items/{itemId}':
    parameters:
      - schema:
          type: string
        name: itemId
        in: path
        required: true
        description: The id of the item requested.
    get:
      summary: Items
      tags:
        - Items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Item'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-items-itemId
      description: 'Gets the requested Item object. The requested item will always be returned as an object, even if itemFormat=id, but sub-pieces will still follow itemFormat.'
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/pieceDirectCost_part'
        - $ref: '#/components/parameters/pieceFlatCost_none'
        - $ref: '#/components/parameters/subPieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
  '/game/v1/items/{itemId}/characters':
    parameters:
      - schema:
          type: string
        name: itemId
        in: path
        required: true
        description: The id of the item requested.
    get:
      summary: Items
      tags:
        - Items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ItemCharacterInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-items-itemId-characters
      description: Gets the characters that use the requested Item.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/charInfo_item'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  /game/v1/iso8Abilities:
    get:
      summary: ISO-8 Abilities
      tags:
        - Globals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      striker:
                        $ref: '#/components/schemas/Ability'
                      fortifier:
                        $ref: '#/components/schemas/Ability'
                      healer:
                        $ref: '#/components/schemas/Ability'
                      skirmisher:
                        $ref: '#/components/schemas/Ability'
                      raider:
                        $ref: '#/components/schemas/Ability'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-iso8Abilities
      description: Gets the ISO-8 Abilities for all the classes.
      parameters:
        - $ref: '#/components/parameters/lang'
  '/game/v1/iso8Abilities/{classId}':
    parameters:
      - schema:
          type: string
          enum:
            - striker
            - fortifier
            - healer
            - skirmisher
            - raider
        name: classId
        in: path
        required: true
        description: Id of the requested class.
    get:
      summary: ISO-8 Ability
      tags:
        - Globals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ability'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-iso8Abilities-classId
      description: Gets the ISO-8 Ability for the requested class.
      parameters:
        - $ref: '#/components/parameters/lang'
  /game/v1/analysis/teamOrder:
    get:
      summary: Team Order
      operationId: get-game-v1-teamorder
      description: Gets team order data for all tabs.
      tags:
        - Analysis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      roster:
                        $ref: '#/components/schemas/TeamOrder'
                      blitz:
                        $ref: '#/components/schemas/TeamOrder'
                      tower:
                        $ref: '#/components/schemas/TeamOrder'
                      raids:
                        $ref: '#/components/schemas/TeamOrder'
                      arena:
                        $ref: '#/components/schemas/TeamOrder'
                      war:
                        $ref: '#/components/schemas/TeamOrder'
                      crucible:
                        $ref: '#/components/schemas/TeamOrder'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
  '/game/v1/analysis/teamOrder/{tabId}':
    parameters:
      - $ref: '#/components/parameters/squadPathTabId'
    get:
      summary: Team Order
      operationId: get-game-v1-teamorder-tabId
      description: Gets team order data for the given tab.
      tags:
        - Analysis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamOrder'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
  /game/v1/characters:
    get:
      summary: Characters
      tags:
        - Characters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characters
      description: Gets information about a set of characters.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission'
        - $ref: '#/components/parameters/charTrait'
        - $ref: '#/components/parameters/charStatus'
        - $ref: '#/components/parameters/charInfo_char'
        - schema:
            type: string
            enum:
              - none
              - full
            default: none
          in: query
          name: costumes
          description: Specifies how much costume information to include about each character.
        - schema:
            type: string
            enum:
              - none
              - full
            default: none
          in: query
          name: abilityKits
          description: Specifies how much ability kit information to include about each character.
        - schema:
            type: string
            enum:
              - none
              - full
            default: none
          in: query
          name: gearTiers
          description: Specifies how much gear tier information to include about each character.
        - schema:
            type: string
            enum:
              - none
              - full
            default: none
          in: query
          name: pieceInfo
          description: Specifies how much metadata to include about each top-level item.
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/charAdoption'
  '/game/v1/characters/{characterId}':
    parameters:
      - $ref: '#/components/parameters/charPathCharacterId'
    get:
      summary: Character
      tags:
        - Characters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CharacterInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characters-characterId
      description: Gets information about a character.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission_noBoth'
        - $ref: '#/components/parameters/charInfo_char'
        - schema:
            type: string
            enum:
              - none
              - full
            default: full
          in: query
          name: costumes
          description: Specifies how much costume information to include about each character.
        - schema:
            type: string
            enum:
              - none
              - full
            default: full
          in: query
          name: abilityKits
          description: Specifies how much ability kit information to include about each character.
        - schema:
            type: string
            enum:
              - none
              - full
            default: full
          in: query
          name: gearTiers
          description: Specifies how much gear tier information to include about each character.
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/pieceDirectCost_none'
        - $ref: '#/components/parameters/pieceFlatCost_none'
        - $ref: '#/components/parameters/subPieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/charAdoption'
  /game/v1/characterInstances:
    get:
      summary: Character Instances
      tags:
        - Characters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '422':
          $ref: '#/components/responses/422_PROHIBITED_VALUE'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characterInstances
      description: Gets information about specific requested instances of a set of characters.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission'
        - $ref: '#/components/parameters/charTrait'
        - $ref: '#/components/parameters/charStatus'
        - $ref: '#/components/parameters/charLevel'
        - $ref: '#/components/parameters/charYellow'
        - $ref: '#/components/parameters/charRed'
        - $ref: '#/components/parameters/charGearTier'
        - $ref: '#/components/parameters/charSlot0'
        - $ref: '#/components/parameters/charSlot1'
        - $ref: '#/components/parameters/charSlot2'
        - $ref: '#/components/parameters/charSlot3'
        - $ref: '#/components/parameters/charSlot4'
        - $ref: '#/components/parameters/charSlot5'
        - $ref: '#/components/parameters/charBasic'
        - $ref: '#/components/parameters/charSpecial'
        - $ref: '#/components/parameters/charUltimate'
        - $ref: '#/components/parameters/charPassive'
        - $ref: '#/components/parameters/charIso8'
        - $ref: '#/components/parameters/charStark'
        - $ref: '#/components/parameters/charWar'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/characterInstances/{level}/{yellow}/{red}/{gearTier}':
    parameters:
      - $ref: '#/components/parameters/pathCharLevel'
      - $ref: '#/components/parameters/pathCharYellow'
      - $ref: '#/components/parameters/pathCharRed'
      - $ref: '#/components/parameters/pathCharGearTier'
    get:
      summary: Character Instances (Shortcut 1)
      tags:
        - Characters (Shortcuts)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '422':
          $ref: '#/components/responses/422_PROHIBITED_VALUE'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characterInstances-level-yellow-red-gearTier
      description: Gets information about specific requested instances of a set of characters.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission'
        - $ref: '#/components/parameters/charTrait'
        - $ref: '#/components/parameters/charStatus'
        - $ref: '#/components/parameters/charSlot0'
        - $ref: '#/components/parameters/charSlot1'
        - $ref: '#/components/parameters/charSlot2'
        - $ref: '#/components/parameters/charSlot3'
        - $ref: '#/components/parameters/charSlot4'
        - $ref: '#/components/parameters/charSlot5'
        - $ref: '#/components/parameters/charBasic'
        - $ref: '#/components/parameters/charSpecial'
        - $ref: '#/components/parameters/charUltimate'
        - $ref: '#/components/parameters/charPassive'
        - $ref: '#/components/parameters/charIso8'
        - $ref: '#/components/parameters/charStark'
        - $ref: '#/components/parameters/charWar'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/characterInstances/{level}/{yellow}/{red}/{gearTier}/{slot0}/{slot1}/{slot2}/{slot3}/{slot4}/{slot5}':
    parameters:
      - $ref: '#/components/parameters/pathCharLevel'
      - $ref: '#/components/parameters/pathCharYellow'
      - $ref: '#/components/parameters/pathCharRed'
      - $ref: '#/components/parameters/pathCharGearTier'
      - $ref: '#/components/parameters/pathCharSlot0'
      - $ref: '#/components/parameters/pathCharSlot1'
      - $ref: '#/components/parameters/pathCharSlot2'
      - $ref: '#/components/parameters/pathCharSlot3'
      - $ref: '#/components/parameters/pathCharSlot4'
      - $ref: '#/components/parameters/pathCharSlot5'
    get:
      summary: Character Instances (Shortcut 2)
      tags:
        - Characters (Shortcuts)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '422':
          $ref: '#/components/responses/422_PROHIBITED_VALUE'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characterInstances-level-yellow-red-gearTier-slot0-slot1-slot2-slot3-slot4-slot5
      description: Gets information about specific requested instances of a set of characters.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission'
        - $ref: '#/components/parameters/charTrait'
        - $ref: '#/components/parameters/charStatus'
        - $ref: '#/components/parameters/charBasic'
        - $ref: '#/components/parameters/charSpecial'
        - $ref: '#/components/parameters/charUltimate'
        - $ref: '#/components/parameters/charPassive'
        - $ref: '#/components/parameters/charIso8'
        - $ref: '#/components/parameters/charStark'
        - $ref: '#/components/parameters/charWar'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/characterInstances/{level}/{yellow}/{red}/{gearTier}/{slot0}/{slot1}/{slot2}/{slot3}/{slot4}/{slot5}/{basic}/{special}/{ultimate}/{passive}':
    parameters:
      - $ref: '#/components/parameters/pathCharLevel'
      - $ref: '#/components/parameters/pathCharYellow'
      - $ref: '#/components/parameters/pathCharRed'
      - $ref: '#/components/parameters/pathCharGearTier'
      - $ref: '#/components/parameters/pathCharSlot0'
      - $ref: '#/components/parameters/pathCharSlot1'
      - $ref: '#/components/parameters/pathCharSlot2'
      - $ref: '#/components/parameters/pathCharSlot3'
      - $ref: '#/components/parameters/pathCharSlot4'
      - $ref: '#/components/parameters/pathCharSlot5'
      - $ref: '#/components/parameters/pathCharBasic'
      - $ref: '#/components/parameters/pathCharSpecial'
      - $ref: '#/components/parameters/pathCharUltimate'
      - $ref: '#/components/parameters/pathCharPassive'
    get:
      summary: Character Instances (Shortcut 3)
      tags:
        - Characters (Shortcuts)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '422':
          $ref: '#/components/responses/422_PROHIBITED_VALUE'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characterInstances-level-yellow-red-gearTier-slot0-slot1-slot2-slot3-slot4-slot5-basic-special-ultimate-passive
      description: Gets information about specific requested instances of a set of characters.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission'
        - $ref: '#/components/parameters/charTrait'
        - $ref: '#/components/parameters/charStatus'
        - $ref: '#/components/parameters/charIso8'
        - $ref: '#/components/parameters/charStark'
        - $ref: '#/components/parameters/charWar'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/characterInstances/{characterId}':
    parameters:
      - $ref: '#/components/parameters/charPathCharacterId'
    get:
      summary: Character Instance(s)
      tags:
        - Characters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/CharacterInstance'
                      - type: array
                        items:
                          $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '422':
          $ref: '#/components/responses/422_PROHIBITED_VALUE'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characterInstances-characterId
      description: |-
        Gets information about a specific requested instance of a specific character.

        Any *one* of level, yellow, red, or gearTier can be set to "all". In this case, an array of CharacterInstance objects will be returned, where only the following fields are filled in on each object: the stats field, the power field, the field set to "all", and any fields which depend on that (for example, asking for "max" ultimate for "all" gear tiers).
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission_noBoth'
        - $ref: '#/components/parameters/charInfo_instance'
        - $ref: '#/components/parameters/charAbilityKits'
        - $ref: '#/components/parameters/charGearTiers'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/pieceDirectCost_none'
        - $ref: '#/components/parameters/pieceFlatCost_none'
        - $ref: '#/components/parameters/subPieceInfo_full'
        - $ref: '#/components/parameters/charLevel'
        - $ref: '#/components/parameters/charYellow'
        - $ref: '#/components/parameters/charRed'
        - $ref: '#/components/parameters/charGearTier'
        - $ref: '#/components/parameters/charSlot0'
        - $ref: '#/components/parameters/charSlot1'
        - $ref: '#/components/parameters/charSlot2'
        - $ref: '#/components/parameters/charSlot3'
        - $ref: '#/components/parameters/charSlot4'
        - $ref: '#/components/parameters/charSlot5'
        - $ref: '#/components/parameters/charBasic'
        - $ref: '#/components/parameters/charSpecial'
        - $ref: '#/components/parameters/charUltimate'
        - $ref: '#/components/parameters/charPassive'
        - $ref: '#/components/parameters/charIso8'
        - $ref: '#/components/parameters/charStark'
        - $ref: '#/components/parameters/charWar'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/characterInstances/{characterId}/{level}/{yellow}/{red}/{gearTier}':
    parameters:
      - $ref: '#/components/parameters/charPathCharacterId'
      - $ref: '#/components/parameters/pathCharLevel'
      - $ref: '#/components/parameters/pathCharYellow'
      - $ref: '#/components/parameters/pathCharRed'
      - $ref: '#/components/parameters/pathCharGearTier'
    get:
      summary: Character Instance(s) (Shortcut 1)
      tags:
        - Characters (Shortcuts)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/CharacterInstance'
                      - type: array
                        items:
                          $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '422':
          $ref: '#/components/responses/422_PROHIBITED_VALUE'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characterInstances-characterId-level-yellow-red-gearTier
      description: |-
        Gets information about a specific requested instance of a specific character.

        Any *one* of level, yellow, red, or gearTier can be set to "all". In this case, an array of CharacterInstance objects will be returned, where only the following fields are filled in on each object: the stats field, the power field, the field set to "all", and any fields which depend on that (for example, asking for "max" ultimate for "all" gear tiers).
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission_noBoth'
        - $ref: '#/components/parameters/charInfo_instance'
        - $ref: '#/components/parameters/charAbilityKits'
        - $ref: '#/components/parameters/charGearTiers'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/pieceDirectCost_none'
        - $ref: '#/components/parameters/pieceFlatCost_none'
        - $ref: '#/components/parameters/subPieceInfo_full'
        - $ref: '#/components/parameters/charSlot0'
        - $ref: '#/components/parameters/charSlot1'
        - $ref: '#/components/parameters/charSlot2'
        - $ref: '#/components/parameters/charSlot3'
        - $ref: '#/components/parameters/charSlot4'
        - $ref: '#/components/parameters/charSlot5'
        - $ref: '#/components/parameters/charBasic'
        - $ref: '#/components/parameters/charSpecial'
        - $ref: '#/components/parameters/charUltimate'
        - $ref: '#/components/parameters/charPassive'
        - $ref: '#/components/parameters/charIso8'
        - $ref: '#/components/parameters/charStark'
        - $ref: '#/components/parameters/charWar'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/characterInstances/{characterId}/{level}/{yellow}/{red}/{gearTier}/{slot0}/{slot1}/{slot2}/{slot3}/{slot4}/{slot5}':
    parameters:
      - $ref: '#/components/parameters/charPathCharacterId'
      - $ref: '#/components/parameters/pathCharLevel'
      - $ref: '#/components/parameters/pathCharYellow'
      - $ref: '#/components/parameters/pathCharRed'
      - $ref: '#/components/parameters/pathCharGearTier'
      - $ref: '#/components/parameters/pathCharSlot0'
      - $ref: '#/components/parameters/pathCharSlot1'
      - $ref: '#/components/parameters/pathCharSlot2'
      - $ref: '#/components/parameters/pathCharSlot3'
      - $ref: '#/components/parameters/pathCharSlot4'
      - $ref: '#/components/parameters/pathCharSlot5'
    get:
      summary: Character Instance(s) (Shortcut 2)
      tags:
        - Characters (Shortcuts)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/CharacterInstance'
                      - type: array
                        items:
                          $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '422':
          $ref: '#/components/responses/422_PROHIBITED_VALUE'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characterInstances-characterId-level-yellow-red-gearTier-slot0-slot1-slot2-slot3-slot4-slot5
      description: |-
        Gets information about a specific requested instance of a specific character.

        Any *one* of level, yellow, red, or gearTier can be set to "all". In this case, an array of CharacterInstance objects will be returned, where only the following fields are filled in on each object: the stats field, the power field, the field set to "all", and any fields which depend on that (for example, asking for "max" ultimate for "all" gear tiers).
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission_noBoth'
        - $ref: '#/components/parameters/charInfo_instance'
        - $ref: '#/components/parameters/charAbilityKits'
        - $ref: '#/components/parameters/charGearTiers'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/pieceDirectCost_none'
        - $ref: '#/components/parameters/pieceFlatCost_none'
        - $ref: '#/components/parameters/subPieceInfo_full'
        - $ref: '#/components/parameters/charBasic'
        - $ref: '#/components/parameters/charSpecial'
        - $ref: '#/components/parameters/charUltimate'
        - $ref: '#/components/parameters/charPassive'
        - $ref: '#/components/parameters/charIso8'
        - $ref: '#/components/parameters/charStark'
        - $ref: '#/components/parameters/charWar'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/characterInstances/{characterId}/{level}/{yellow}/{red}/{gearTier}/{slot0}/{slot1}/{slot2}/{slot3}/{slot4}/{slot5}/{basic}/{special}/{ultimate}/{passive}':
    parameters:
      - $ref: '#/components/parameters/charPathCharacterId'
      - $ref: '#/components/parameters/pathCharLevel'
      - $ref: '#/components/parameters/pathCharYellow'
      - $ref: '#/components/parameters/pathCharRed'
      - $ref: '#/components/parameters/pathCharGearTier'
      - $ref: '#/components/parameters/pathCharSlot0'
      - $ref: '#/components/parameters/pathCharSlot1'
      - $ref: '#/components/parameters/pathCharSlot2'
      - $ref: '#/components/parameters/pathCharSlot3'
      - $ref: '#/components/parameters/pathCharSlot4'
      - $ref: '#/components/parameters/pathCharSlot5'
      - $ref: '#/components/parameters/pathCharBasic'
      - $ref: '#/components/parameters/pathCharSpecial'
      - $ref: '#/components/parameters/pathCharUltimate'
      - $ref: '#/components/parameters/pathCharPassive'
    get:
      summary: Character Instance(s) (Shortcut 3)
      tags:
        - Characters (Shortcuts)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/CharacterInstance'
                      - type: array
                        items:
                          $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '422':
          $ref: '#/components/responses/422_PROHIBITED_VALUE'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-characterInstances-characterId-level-yellow-red-gearTier-slot0-slot1-slot2-slot3-slot4-slot5-basic-special-ultimate-passive
      description: |-
        Gets information about a specific requested instance of a specific character.

        Any *one* of level, yellow, red, or gearTier can be set to "all". In this case, an array of CharacterInstance objects will be returned, where only the following fields are filled in on each object: the stats field, the power field, the field set to "all", and any fields which depend on that (for example, asking for "max" ultimate for "all" gear tiers).
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charMission_noBoth'
        - $ref: '#/components/parameters/charInfo_instance'
        - $ref: '#/components/parameters/charAbilityKits'
        - $ref: '#/components/parameters/charGearTiers'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/pieceDirectCost_none'
        - $ref: '#/components/parameters/pieceFlatCost_none'
        - $ref: '#/components/parameters/subPieceInfo_full'
        - $ref: '#/components/parameters/charIso8'
        - $ref: '#/components/parameters/charStark'
        - $ref: '#/components/parameters/charWar'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/characterInstanceCaps':
    get:
      summary: Character Instance Caps
      tags:
        - Characters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterInstance'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-character-instance-caps
      description: Gets information about the maximum gear tier and ability levels per character level.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/nodeCombats/{combatId}':
    parameters:
      - schema:
          type: string
        name: combatId
        in: path
        required: true
        description: The ID of the NodeCombat.
    get:
      summary: NodeCombat
      tags:
        - Combat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NodeCombat'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-nodeCombats-combatId
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/charInfo_combat'
        - schema:
            type: string
          in: query
          name: difficultyGroup
          description: 'Specifies the ID of the raid for which to adjust the difficulty of the NodeCombat. If unspecified or this NodeCombat is not part of that raid, normal difficulty is returned.'
        - schema:
            type: integer
            format: int32
          in: query
          name: difficulty
          description: 'Only has an effect if `difficultyGroup` is also specified. In that case, `difficulty` specifies the difficulty of the raid to adjust for. If omitted, then all CharacterInstance objects are replaced with arrays, with [0] being the normal difficulty, [1] being difficulty 1 from the specified difficulty group, and so on.'
        - $ref: '#/components/parameters/quantityFormat'
      description: Gets the requested NodeCombat object.
  '/game/v1/episodics/{episodicType}':
    parameters:
      - $ref: '#/components/parameters/pathEpisodicType'
    get:
      summary: Episodics
      tags:
        - Combat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EpisodicInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-episodics-episodicType
      description: Gets information about a set of episodics.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/episodics/{episodicType}/{episodicId}':
    parameters:
      - $ref: '#/components/parameters/pathEpisodicType'
      - $ref: '#/components/parameters/pathEpisodicId'
    get:
      summary: Episodic
      tags:
        - Combat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EpisodicInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-episodics-episodicType-episodicId
      description: Gets information about an episodic.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/nodeInfo_part'
        - $ref: '#/components/parameters/nodeReqs_none'
        - $ref: '#/components/parameters/nodeRewards_none'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/quantityFormat'
  '/game/v1/episodics/{episodicType}/{episodicId}/{chapterNumber}':
    parameters:
      - $ref: '#/components/parameters/pathEpisodicType'
      - $ref: '#/components/parameters/pathEpisodicId'
      - $ref: '#/components/parameters/pathChapterNumber'
    get:
      summary: Chapter
      tags:
        - Combat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EpisodicInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-episodics-episodicType-episodicId-chapterNumber
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/nodeInfo_part'
        - $ref: '#/components/parameters/nodeReqs_none'
        - $ref: '#/components/parameters/nodeRewards_none'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/nodeCombat_none'
        - $ref: '#/components/parameters/charInfo_combat'
        - $ref: '#/components/parameters/quantityFormat'
      description: |-
        Gets information about an episodic, with details about one of its chapters.

        Information about the unrequested chapters are omitted.

        Episodics like challenges that do not have multiple chapters are episodics with just one chapter: Chapter 1.
  '/game/v1/episodics/{episodicType}/{episodicId}/{chapterNumber}/{tierNumber}':
    parameters:
      - $ref: '#/components/parameters/pathEpisodicType'
      - $ref: '#/components/parameters/pathEpisodicId'
      - $ref: '#/components/parameters/pathChapterNumber'
      - schema:
          type: string
        name: tierNumber
        in: path
        required: true
        description: The 1-based tier number for which information is requested.
    get:
      summary: Tier of Chapter
      tags:
        - Combat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NodeInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-episodics-episodicType-episodicId-chapterNumber-tierNumber
      description: Gets node information about one tier of a chapter of an episodic.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/nodeInfo_full'
        - $ref: '#/components/parameters/nodeReqs_full'
        - $ref: '#/components/parameters/nodeRewards_full'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/nodeCombat_none'
        - $ref: '#/components/parameters/charInfo_combat'
        - $ref: '#/components/parameters/quantityFormat'
  /game/v1/dds:
    get:
      summary: Dark Dimensions
      tags:
        - Combat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RaidInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-dds
      description: Gets information about a set of dark dimensions.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/nodeInfo_none'
        - $ref: '#/components/parameters/nodeReqs_none'
        - $ref: '#/components/parameters/nodeRewards_none'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/raidInfo_none'
        - $ref: '#/components/parameters/raidMap_none'
        - $ref: '#/components/parameters/raidRewards_none'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
  '/game/v1/dds/{ddId}':
    parameters:
      - $ref: '#/components/parameters/pathDdId'
    get:
      summary: Dark Dimension
      tags:
        - Combat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RaidInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
          $ref: '#/components/responses/552_RESTARTING'
        '553':
          $ref: '#/components/responses/553_MAINTENANCE'
      operationId: get-game-v1-dds-ddId
      description: Gets information about a dark dimension.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/itemFormat'
        - $ref: '#/components/parameters/statsFormat'
        - $ref: '#/components/parameters/traitFormat'
        - $ref: '#/components/parameters/nodeInfo_none'
        - $ref: '#/components/parameters/nodeReqs_full'
        - $ref: '#/components/parameters/nodeRewards_full'
        - $ref: '#/components/parameters/pieceInfo_full'
        - $ref: '#/components/parameters/raidInfo_full'
        - $ref: '#/components/parameters/raidMap_full'
        - $ref: '#/components/parameters/raidRewards_full'
        - $ref: '#/components/parameters/quantityFormat'
        - $ref: '#/components/parameters/nodeCombat_none'
        - $ref: '#/components/parameters/charInfo_combat'
  '/game/v1/dds/{ddId}/{roomId}':
    parameters:
      - $ref: '#/components/parameters/pathDdId'
      - $ref: '#/components/parameters/pathRoomId'
    get:
      summary: Dark Dimension Room
      tags:
        - Combat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/NodeInfo'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                none:
                  value:
                    none: no example
        '404':
          $ref: '#/components/responses/404_NOT_FOUND'
        '472':
          $ref: '#/components/responses/472_RESPONSE_TOO_LARGE'
        '500':
          $ref: '#/components/responses/500_INTERNAL_SERVER_ERROR'
        '552':
[...]
